<?xml version="1.0"?>
<robot name="myfirst">

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <link concave="yes"  name="base_link">
    <visual>
      <geometry>
        <mesh filename="/home/rachel/rawhide/rmh_code/cabinet_simple_1_30_2.STL" scale="1 1 1 "/>

      </geometry>
      <material name="blue"/>


    </visual>

    <collision concave="yes" >
      <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
           <mesh filename="/home/rachel/rawhide/rmh_code/cabinet_simple_1_30_2.STL" scale="1 1 1 "/>
        </geometry>
    </collision>
  </link>
</robot>
